<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div>
    <div>
        <form th:action="@{AddGame}" th:object="${GameForm}" method="post">
            <input type="text" th:field="*{name}" name="name" placeholder="Enter name of the game">
            <input type="text" th:field="*{version}" name="version" placeholder="Enter game version">
            <button type="submit">Add game</button>
        </form>
        <form th:action="@{ChangeGame}" th:object="${GameForm}" method="post">
            <input type="text" th:field="*{id}" name="id" placeholder="Enter id of the game">
            <input type="text" th:field="*{name}" name="name" placeholder="Enter name of the game">
            <input type="text" th:field="*{version}" name="version" placeholder="Enter game version">
            <button type="submit">Change game</button>
        </form>
        <form th:action="@{DeleteGame}" th:object="${GameForm}" method="post">
            <input type="text" th:field="*{id}" name="id" placeholder="Enter id of the game">
            <button type="submit">Delete game</button>
        </form>
        <form method="post" action="GameFilter">
            <input type="text" name="filter" placeholder="Enter name of the game">
            <button type="submit">Find game</button>
        </form>
    </div>

    <div>Game list:
        <table>
            <tr>
                <th><h1>ID</h1></th>
                <th><h1>Game</h1></th>
                <th><h1>Version</h1></th>
            </tr>
            <tr th:each="game : ${games}">
                <td th:utext="${game.id}"></td>
                <td th:utext="${game.name}"></td>
                <td th:utext="${game.version}"></td>
            </tr>
        </table>
    </div>
</div>
<div>
    <div>
        <form th:action="@{AddChampionship}" th:object="${ChampionshipForm}" method="post">
            <input type="text" th:field="*{name}" name="name" placeholder="Enter name of the championship">
            <input type="text" th:field="*{prize}" name="prize" placeholder="Enter championship prize">
            <button type="submit">Add championship</button>
        </form>
        <form th:action="@{ChangeChampionship}" th:object="${ChampionshipForm}" method="post">
            <input type="text" th:field="*{id}" name="id" placeholder="Enter id of the championship">
            <input type="text" th:field="*{name}" name="name" placeholder="Enter name of the championship">
            <input type="text" th:field="*{prize}" name="prize" placeholder="Enter championship prize">
            <button type="submit">Change championship</button>
        </form>
        <form th:action="@{DeleteChampionship}" th:object="${ChampionshipForm}" method="post">
            <input type="text" th:field="*{id}" name="id" placeholder="Enter id of the championship">
            <button type="submit">Delete championship</button>
        </form>
        <form method="post" action="ChampionshipFilter">
            <input type="text" name="filter" placeholder="Enter name of the championship">
            <button type="submit">Find championship</button>
        </form>
    </div>

    <div>Championship list:
        <table>
            <tr>
                <th><h1>ID</h1></th>
                <th><h1>Championship</h1></th>
                <th><h1>Version</h1></th>
            </tr>
            <tr th:each="championship : ${championships}">
                <td th:utext="${championship.id}"></td>
                <td th:utext="${championship.name}"></td>
                <td th:utext="${championship.prize}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>