<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title></title>
</head>
<body>
<div>
    <form method="post" action="games">
        <input type="text" name="name" placeholder="Enter name of the game">
        <input type="text" name="version" placeholder="Enter game version">
        <button type="submit">Add game</button>
    </form>
    <form method="post" action="filter">
        <input type="text" name="filter" placeholder="Enter name of the game">
        <button type="submit">Find game</button>
    </form>
</div>

<div>Game list:
    <table>
        <tr>
            <th><h1>Game</h1></th>
            <th><h1>Version</h1></th>
        </tr>
        <tr th:each="game : ${games}">
            <td th:utext="${game.name}"></td>
            <td th:utext="${game.version}"></td>
        </tr>
    </table>
</div>
</body>
</html>